// estilos header y footer //

header{
    background-color: #0B3D91;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;

    img {
      margin: 10px 80px;
    }

    nav {width: 30%;
        margin-top: 30px;

        ul{list-style: none;
           display: flex;
           justify-content: space-between;
           align-items: center;
           height: 100%; 
           margin: 0px 100px 0px 0px;

           li a{color: #fff;
              text-decoration: none;
              font-size: 1.3rem;
              font-family: "Roboto", sans-serif;
            }
        }
    }
}


footer{
    background-color: #0B3D91;
    color: #fff;
    padding: 48px;

    .cierre{font-size: 1.2rem;
        padding-bottom: 16px;
        ul{
            padding-bottom: 16px;
        }
    }

    .logow{
       position: fixed;
       right: 70px;
       bottom: 70px;
       z-index: 2
    }
}