// estilos page contacto //

.formulario-contacto {
    max-width: 600px;
    margin: 50px auto;
    padding: 2rem;
    background-color: #f8f9fc;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  
    h2 {
      text-align: center;
      color: #0B3D91;
      margin-bottom: 10px;
    }

    p {
      text-align: center;
      margin-bottom: 25px;
      color: #555;
    }

   .campo {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      label {
          margin-bottom: 8px;
          font-weight: bold;
          color: #0B3D91;
        }
       input,
       textarea {
           padding: 10px;
           border: 1px solid #ccc;
           border-radius: 8px;
           font-size: 1rem;
           outline: none;
           transition: border-color 0.3s ease;
        }
        input:focus,
        textarea:focus {
           border-color: #0B3D91;
        }
    }
    .btn-enviar {
        background-color: #ff8040;
        color: #fff;
        padding: 12px 20px;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 1rem;
        font-weight: bold;
        transition: background-color 0.3s ease;
        width: 100%;
       
    }
    .btn-enviar:hover {
       background-color: #ff4a29;
    }
}