
@use "../generales/variables" as*;


.banner{background-image: url(../contenido/Banner1.jpg);
 width: 100%;
 height: 100vh;                     /* o 100vh para ocupar toda la pantalla */
 background-position:center;
 background-size: cover;
 justify-content: center;
 align-items: center; 
 text-align: center;
 color: #fff;
 font-size: 1.2;
 position: relative;

}


.banner::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* negro semi-transparente */
  z-index: 1;
}

.titulo{text-align: center;
 text-decoration: none;
 font: weight 800px;
 padding-top: 15%;
 position: relative;
  z-index: 2
}

.texto-blanco{color:#fff;
text-align: center;
font-size: 1.3rem;
border-radius: 0 0 10px 0;
margin: 0 20%;
position: relative;
 z-index: 2
}


.contenedor-grid img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.contenedor-grid{
  display: grid;
  grid-template-areas: 
  
  "titulo-2 titulo-2 titulo-2"
  "img-1 texto-1 texto-1"
  "img-1 img-2 img-2"
  "texto-2 img-3 texto-3";

  grid-template-columns: 20% 20% 20%;
  grid-template-rows: 120px 150px 250px 250px;
  gap: 20px;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
}


.titulo-2{
  grid-area: titulo-2; 
  padding-top: 15%;
  padding-bottom: 10%;

  font-size: 1.8rem;
}

.img-1{
  grid-area: img-1;
}

.texto-1{
  grid-area: texto-1;
}

.img-2{
  grid-area: img-2;
}

.texto-2{
  grid-area: texto-2;
}

.img-3{
  grid-area: img-3;
}

.texto-3{ grid-area: texto-3;}


.tendencias{text-align: center;
   padding-top: 30px;
  
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}


.cta-viajes {
  background: linear-gradient(135deg, #0B3D91, #3c6ec4);
  color: #fff;
  text-align: center;
  padding: 3rem 1.5rem;
  border-radius: 1.5rem;
  max-width: 600px;
  margin: 5rem auto;
  margin-top: 10rem;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      padding: 12px;
    }

    p {
      font-size: 1.1rem;
      margin-bottom: 2rem;
      color: #fff;
      line-height: 1.6;
    }

   .btn-contactar {
      background-color: #ff8040;
      color: #fff;
      padding: 0.75rem 2rem;
      text-decoration: none;
      border-radius: 2rem;
      font-weight: bold;
      transition: background-color 0.3s ease;
    }
   
    .btn-contactar:hover {
       background-color: #ff4a29;
    }
}

